/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: black;
    z-index: 999;
  } */
  /* .navbar-container {
   
     position: fixed;
       top: 0;
    left: 0;  
    width: 100%; 
    z-index: 9999; 
    /* Add any other styles you want for the navbar */
  
  
  